p{margin:0.5vh;}
body{
    font-family: 'Hind Kochi',"Helvetica",sans-serif;
    font-style: normal;
    font-weight: 600;
}
#WeLugg_main{
    background: url(./material/main.png) center/cover;
    position: relative;
    /*max-width: 1280px;*/
    width: 100vw;
    aspect-ratio: 29/8.68;
}
.main_word1{
    font-size: 3vw;
    line-height: 3vw;
    color: #5D5B5B;
    position: absolute;
    width: 48%;
    bottom: 17%;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
}
.main_word2{
    font-weight: 500;
    font-size: 1.5vw;
    line-height: 3vw;
    color: #939191;
    position: absolute;
    width: 48%;
    bottom: 9%;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
}
#WeLugg_title{
    position: relative;
    /*max-width: 1280px;*/
    width: 100vw;
    aspect-ratio: 29/5.32;
}
#logo{
    background: url(./material/logo.png) no-repeat center/contain;
    width: 30%;
    height: 65%;
    position: absolute;
    bottom: 18%;
    left: 29%;
}
.title_word1{
    font-size: 4vw;
    color: #87C2B6;
    position: absolute;
    bottom: 25%;
    right: calc(38% + 9vw);
    
}
.title_word2{
    font-size: 4vw;
    color: #5B7097;
    position: absolute;
    bottom: 25%;
    right: 37%;
  
}
#WeLugg_aboutCompany{
    background-color: #EEEEEE;
    position: relative;
    /*max-width: 1280px;*/
    width: 100vw;
    aspect-ratio: 29/15;
}
#aboutCompany_box{
    position: absolute;
    width: 100%;
    height: 30%;
    top: 25%;
    display:flex;
    justify-content: space-evenly;
}
#image_left{
    background: url(./material/image_left.png) no-repeat center/contain;
    width: 30%;
    height: 100%;
    margin-left: 12%;
}
#image_mid{
    background: url(./material/image_mid.png) no-repeat center/contain;
    width: 30%;
    height: 100%;
    margin: 0 1%;
}
#image_right{
    background: url(./material/image_right.png) no-repeat center/contain;
    width: 30%;
    height: 100%;
    margin-right: 12%;
}
.aboutCompany_word1{
    font-size: 3vw;
    color: #7184A6;
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(25% - 7vw);
    white-space: nowrap;
    overflow: hidden;
}
.aboutCompany_word2{
    font-size: 1.5vw;
    color: #939191;
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(25% - 4vw);
    white-space: nowrap;
    overflow: hidden;
}
.aboutCompany_word3{
    font-size: 1.3vw;
    color: #5D5B5B;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 62%;
    white-space: nowrap;
    overflow: hidden;
}
.aboutCompany_word4{
    font-weight: 400;
    font-size: 1.3vw;
    color: #939191;
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(62% + 9vw);
    white-space: nowrap;
    overflow: hidden;
}
#WeLugg_aboutUs{
    position: relative;
    /*max-width: 1280px;*/
    width: 100vw;
    aspect-ratio: 29/12;
}
#aboutUs_box{
    position: absolute;
    width: 100%;
    height: 65%;
    top: 25%;
    display:flex;
    justify-content: space-evenly;
}
#image_member1{
    background: url(./material/member1.png) no-repeat center/contain;
    width: 17%;
    height: 100%;
}
#image_member2{
    background: url(./material/member2.png) no-repeat center/contain;
    width: 17%;
    height: 100%;
}
#image_member3{
    background: url(./material/member3.png) no-repeat center/contain;
    width: 17%;
    height: 100%;
}
#image_member4{
    background: url(./material/member4.png) no-repeat center/contain;
    width: 17%;
    height: 100%;
}
#image_member5{
    background: url(./material/member5.png) no-repeat center/contain;
    width: 17%;
    height: 100%;
}
.aboutUs_word1{
    font-size: 3vw;
    color: #7184A6;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 12%;
}
.aboutUs_word2{
    font-size: 1.5vw;
    color: #939191;
    position: absolute;
    text-align: center;
    width: 100%;
    top: calc(12% + 3vw);
}

#WeLugg_person1{
    background-color: #EEEEEE;
    position: relative;
    /*max-width: 1280px;*/
    width: 100vw;
    aspect-ratio: 29/40;
    padding: 15%;
}
.person_word1{
    font-size: 5.3vw;
    color: #F1564C;
    position: absolute;
    top: 12%;
}
.person_word2{
    font-size: 2.2vw;
    position: absolute;
    top: calc(12% + 4vw);
    left: 36vw;
}
.person_word3{
    color: #939191;
    font-size: 1.2vw;
    position: absolute;
    top: calc(12% + 10vw);
}
.person_word4{
    color: #939191;
    font-size: 1.2vw;
    position: absolute;
    top: calc(12% + 12vw);
    left: 36vw;
}
.person_line{
    border: 0.2vw solid #7A7676;
    position: absolute;
    width: 84%;
    top: 25%;
    left: 8%;
}
#image4{
    background: url(./material/image4.png) no-repeat bottom left/contain;
    width: 40%;
    height: 22%;
    position: absolute;
    top: 3%;
    left: 60%;
}
.person_box{
    position: absolute;
    width: 50%;
    height: 8%;
    top: 28%;
    left: 25%;
    display:flex;
    justify-content: space-between;
}
.person_package{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
#illustration1{
    background: url(./material/illustration1.png) no-repeat center/contain;
    width: 50px;
    height: 50px;
}
#illustration2{
    background: url(./material/illustration2.png) no-repeat center/contain;
    width: 50px;
    height: 50px;
}
#illustration3{
    background: url(./material/illustration3.png) no-repeat center/contain;
    width: 50px;
    height: 50px;
}
.illustration_word{
    color: #5D5B5B;
    font-size: 1.2vw;
    margin-top: 2vh;
}

.person_word5{
    color: #939191;
    font-size: 1.2vw;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 40%;
}
.person_word6{
    color: #5D5B5B;
    font-size: 1.5vw;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 44%;
}
.person_word7{
    color: #939191;
    font-size: 1.2vw;
    position: absolute;
    text-align: center;
    width: 70%;
    top: 60%;
}
.world_map{
    background: url(./material/world_map.png) no-repeat center/contain;
    width: 80%;
    height: 38%;
    position: absolute;
    top:58%;
    left: 10%;
}
.image_fb{
    background: url(./material/fb.png) no-repeat center/contain;
    width: 3%;
    height: 3%;
    position: absolute;
    bottom:2%;
    left: 45%;
}
.image_ig{
    background: url(./material/ig.png) no-repeat center/contain;
    width: 3%;
    height: 3%;
    position: absolute;
    bottom:2%;
    left: 51%;
}